body {
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(49, 46, 159) 30%, rgb(121, 52, 127) 98%);
  }
  
  .emi-calculator {
    /*background:linear-gradient(90deg, rgb(39, 32, 166) 0%, rgb(56, 44, 149) 98%);*/
    padding: 30px;
    margin: 10px;
    height: 400px ;
    font-family: Arial,sans-serif;
    border-radius: 20px;
    box-shadow: 0 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  h2 {
    width: 50%;
    padding: 8px;
    
    text-align: center;
    position: relative;
    left: 10%;
    margin: 30px;
    font-weight: bold;
    justify-content: center;
    
    border-radius: 10px;
    background-image: linear-gradient(lightpink, lightblue);

  }
  
  .input-group {
    margin-bottom: 9px;
    color: aliceblue;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="range"] {
    width: 100%;
    appearance: none;
    background-image: linear-gradient(lightpink, lightblue);
    border-radius: 5px;
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #102657;
    cursor: pointer;
  }
  
  .result {
    margin-top: 30px;
    color: rgb(135, 146, 146);
  }
  
 